<h2>Testimonials</h2>
<article class="testimonials">
<blockquote>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas purus bibendum neque aliquam ut posuere elit semper.
    </p>
    <cite>John Doe, New York City</cite>
</blockquote>
<blockquote>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <cite>John Doe, New York City</cite>
</blockquote>
<blockquote>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <cite>John Doe, New York City</cite>
</blockquote>
<blockquote>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas purus bibendum
    </p>
    <cite>John Doe, New York City</cite>
</blockquote>
</article>
