<h2>Testimonials</h2>
<article class="testimonials">
<blockquote>
    <p>
        I really felt DarkRuby understood our website requirements and more than demonstrated why they were so excited about Ruby on Rails. They delivered on time and have continued to work with us to develop the site. I do not hesitate to recommend them - they made the process almost effortless.
    </p>
    <cite>Jonathan Hearse</cite>
</blockquote>
<blockquote>
    <p>
        I have worked with other web development companies and was never fully satisfied with the finished product or the after-service. DarkRuby is the total package - they were easy to work with, gave us a top quality site that surpassed our expectations and have been our provider of choice ever since.
    </p>
    <cite>Scott John</cite>
</blockquote>
<blockquote>
    <p>
        The DarkRuby team is professional, passionate, helpful and experienced. We worked with them to develop our ideas on how to extend our brand on the web and found their advice and their pricing allowed us to grow in the direction we wanted. I recommend them 100%.
    </p>
    <cite>Amanda Richards</cite>
</blockquote>
</article>
