<% content_for :title, "Ruby On Rails solutions"%>
<header id="homeheader">
<div id="slider">
    <div class="container">
        <ul class="slides">
            <li>
            <div class="thumbholder">
                <img src="images/slide-1.png" width="200" height="200" alt="Web 2.0"/>
            </div>
            <div class="txtholder">
                <h2>Modern, Accessible and Beautiful Websites and Web applications</h2>
                <p>
                    Here at DarkRuby, we specialise in Ruby on Rails - a powerful Web 2.0 technology that allows rapid development of full-featured web applications and sites that offer a rich user experience.
                </p>
            </div>
            </li>
            <li>
            <div class="thumbholder">
                <img src="images/slide-2.png" width="200" height="200" alt="Ruby On Rails"/>
            </div>
            <div class="txtholder">
                <h2>Ruby on Rails and Agile Development</h2>
                <p>
                    Ruby on Rails is fully integrated with Agile project management techniques. This means we involve you in the development process from the very beginning and we look forward to surpassing your expectations on delivery speed and quality.
                </p>
            </div>
            </li>
            <li>
            <div class="thumbholder">
                <img src="images/slide-3.png" width="200" height="200" alt="Cloud Computing"/>
            </div>
            <div class="txtholder">
                <h2>Cloud Computing</h2>
                <p>
                    With Amazon Cloud as our hosting provider,  we ensure robust stability and 24hr availability.
                </p>
            </div>
            </li>
            <li>
            <div class="thumbholder">
                <img src="images/slide-4.png" width="200" height="200" alt="First Image"/>
            </div>
            <div class="txtholder">
                <h2>Integrated and ready to operate solutions</h2>
                <p>
                    We don't just make websites - DarkRuby is a full-service solution company, involved at all stages of development - from fleshing out your ideas to domain hosting and registration, and the creation of your own fully operational website or application.
                </p>
            </div>
            </li>
        </ul>
        <ul class="pagination">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
        </ul>
    </div>
</div>
</header>
</section>
<section id="contentwrap">
<div id="contents">
    <div id="topcolumns">
        <div class="col">
            <img src="images/idea.png" width="48" height="48" alt="graph" class="imgright">
            <h2>Your Idea</h2>
            <p>
                Whether it's a small personal webpage, an e-commerce site or web-based application, we can work with you to fine-tune your requirements and ensure that what we create matches your vision. We encourage you to be involved throughout all aspects of the development cycle, not only because we enjoy working closely with our clients but also because we know from our experience of Agile project management that building a good relationship with you makes our projects even better - flexible, on-target with your demands and delivered on deadline.
            </p>
        </div>
        <div class="col">
            <img src="images/build.png" width="48" height="48" alt="graph" class="imgright">
            <h2>We build it</h2>
            <p>
                We love what we do. And we believe in the technology we use. The team at DarkRuby are experts in multiple programming languages and we have devoted our careers to creating websites and web applications that are user-friendly, dynamic and at the forefront of development. With Ruby on Rails, we get the chance to use all our creativity and expertise to create projects for you that are simpler to develop, easier to maintain (virtually bug free) and that are totally responsive to your changing business needs.
            </p>
        </div>
        <div class="col">
            <img src="images/success.png" width="48" height="48" alt="graph" class="imgright">
            <h2>Your Profit</h2>
            <p>
                We know that cost counts. That's why at DarkRuby we offer a full-service solution -   meeting all your needs in one place and eliminating the involvement of a range of different service providers to handle your web application requirements. And that is also why we chose to develop in Ruby on Rails - quicker development times mean reduced costs for you and the fact that it is open-source means that when you hire us, you gain the expertise of a global community of RoR developers.
            </p>
        </div>
        <div class="clear">
        </div>
    </div>
    <section id="normalpage">
    <section id="left">
        <article>
        <h2>Latest From The Blog</h2>
        <h3><%=link_to @post.title, { :action=>:post, :id=>@post.id }%></h3>
        <p>
           <%=@post.text%>
           <%=link_to "Read More", {:action=>:post,:id=>@post.id}%>
        </p>
        </article>
    </section>
    <section id="sidebar">
        <%= render "side_testimonials" %>
    </section>
    <div class="clear">
    </div>
    </section>
</div>
</section>
</div>

<script type="text/javascript" charset="utf-8">
    $(function(){
        $('#slider').loopedSlider({
            autoStart: 6000,
            restart: 5000
        });
    });
</script>
