<% content_for :title, "Services" %>
<section id="contentwrap">
<div id="contents" class="normalcontents">
    <section id="normalpage">
    <section id="left">
    <h2>Services</h2>
    <section class="blogpreview">
        <!--article class="postpreview">
        <section class="entry">
        <h3>service1</h3>
        <p>
            some text
        </p>
        </section>
        <aside class="postinfo">
        <p>
            <img src="" />
        </p>
        </aside>


        <div class="clear">
        </div>
        </article-->

        <article class="postpreview">
        <section class="entry">
        <h3>Website development</h3>
        <p>
            We want you to feel that your website more than adequately reflects your business. You need it to be professional in look and feel, easy to use, compelling and most of all easy to update and maintain. We use the best development technology on the market, and bring to it our years of expertise and our love of working with people.  We ensure that you get exactly what you are looking for - reduced costs, friendly and accessible service, and your project delivered to deadline, just the way you envisioned it.
            The DarkRuby guarantee is that your website will offer a rich user experience that will keep your customers coming back to use it time and time again
        </p>

        <h3>Website maintenance and support</h3>
        <p>
             Keeping things going is all part and parcel of what we offer at DarkRuby. We remain devoted to your project long after the development phase ends and we are always just a phonecall or email away when you need our support.
        </p>

        <h3>Domain name maintenance</h3>
        <p>
            DarkRuby can register your chosen domain name for you, either on it's own or as part of one of our great value web- hosting packages We can register domains for you at any level (.com, .co.uk, .net, .org) and you never have to worry about ownership
        </p>

        <h3>Hosting and website availability</h3>
        <p>
            Your sense of security is important when it comes to your web-based business or application. By using the Amazon Cloud for hosting we ensure security, availability and reliability. Our friendly and accessible team are available to answer your queries and we offer ongoing support throughout the life of your project.
        </p>

        <h3>Domain Email and calendar</h3>
        <p>
            Let DarkRuby take the hassle out of configuring multiple domain email addresses and your business' shared calendar. We know the tools and can provide a customizable online solution for your domain email, calendar and document sharing requirements. Free up your people to do what they do best with workflow tools that provide easy application, global accessibility and multi-user editing of shared calendars and documents.
        </p>

        <h3>Customer support</h3>
        <p>
            Our customers say that we are friendly, accessible and reliable. We know that you have many aspects of your business to manage, and we want to ensure that you believe that your web project is in safe hands. Don't ever think that any query is too small - you can call or email us any questions or queries and a member of our team will always be on the other end. Part of our job is giving you peace of mind.
        </p>
        </section>

        <div class="clear">
        </div>
        </article>

    </section>
    </section>
    <section id="sidebar">
        <%= render "side_testimonials" %>
        <%= render "side_posts", :posts => @side_posts %>
        <%= render "side_projects", :projects => @side_projects %>
    </section>
    <div class="clear">
    </div>
    </section>
</div>
</section>
